body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
} 

.logo-part {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
    background-color: #FFFFFF;
}

 .navigation {
    list-style-type: none;
}

.contacts {
    list-style-type: none;
}
 .nav-item {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
 }

 .contacts-item {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    text-decoration: none;
 }

 .main-heading {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07143;
    background-color: #2E2F42;
    font-weight: 700;
 }

 .order-btn {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    font-weight: 500;
    cursor: pointer;
 }

 .button-section {
    background-color: #2E2F42;
 }

.advantages-list {
    list-style-type: none;
}

.advantages-item {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    background-color: #FFFFFF;
    font-weight: 500;
}

.advantages-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.team{
    background-color: #F4F4FD ;
}
.team-list {
    list-style-type: none;
}

.sub-heading {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11111;
}
.team-item {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

.portfolio {
    background-color: #FFFFFF;
}

.portfolio-list {
    list-style-type: none;
}

.portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

 .nav-item:hover {
    color: #404bbf;
}

.nav-item:focus {
    color: #404bbf;
}

.contacts-item:hover {
    color: #404bbf;
}

.contacts-item:focus {
    color: #404bbf;
}

.order-btn:hover {
    background-color: #404bbf;
}

.order-btn:focus {
    background-color: #404bbf;
}
